[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=/home/redstone0618/anaconda3/envs/python_3/bin/uwsgi -i /home/redstone0618/backend-AI/.config/uwsgi/mysite.ini
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target















